
<h1>Top photos</h1>

  <%= render :partial => 'photos', :locals => {:photos => @top_photos} %>

<br />


<h1>All photos</h1>

  <form method="post" action="/photos/search">
    <input type="text" name="query" id="query" value="<%= params[:query] %>">
    <input type="checkbox" name="include_comments" id="include_comments" <%= params[:include_comments].to_s == 'on' ? 'checked="checked"' : '' %>> include Comments
    <input type="checkbox" name="limit_to_recents" id="limit_to_recents" <%= params[:limit_to_recents].to_s == 'on' ? 'checked="checked"' : '' %>> limit to recent results
    <input type="submit" name="Search" value="Search">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </form>

  <table>
  <% @photos.in_groups_of(4, false) do |group| %>
    <%= render :partial => 'photo_line', :locals => {:photos => group} %>
  <% end %>
  </table>

<br />

<%= link_to 'New photo', new_photo_path %>