<div class="container">
  <h1>New photo</h1>

  <% form_for :photo, @photo, :url => photos_path, :html => { :multipart => true } do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %><br/><br/>

      <%= f.file_field :body %>
    </p>

      <%= f.submit 'Add photo', :class=>"button blue" %>
  <% end %>
</div>
<div class="container">
  <%= link_to 'Back', photos_path %>
</div>

<% content_for :right do %>
<div class="container">
  <h1>Search</h1>
  <form method="post" action="/photos/search">
    <input type="text" name="query" id="query" value="<%= params[:query] %>" />
    <input type="submit" name="Search" value="Search"/><br/>
    <input type="checkbox" name="include_comments" id="include_comments" <%= params[:include_comments].to_s == 'on' ? 'checked="checked"' : '' %>/> include Comments
    <input type="checkbox" name="limit_to_recents" id="limit_to_recents" <%= params[:limit_to_recents].to_s == 'on' ? 'checked="checked"' : '' %>/> limit to recent results
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
  </form>
</div>
<% end %>